
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Dates personnels</h3>
        <form action="Personne/Personne" method="post">
           <label>Nom:<input type="text" name="nom" value="" /></label> <br />
           <label>Prénom:<input type="text" name="prenom" value="" /></label> <br />
           <label>Age:<input type="text" name="age" value="" /></label> <br />
            <input type="submit"name="envoyer"value="Envoyer"/> 
        </form> 
    </div>
</body>
</html>
