@model MVC_partie1.Models.Personne

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personne</title>
</head>
<body>
    <div>
        <label>Mon nom est:@Model.nom<br /></label>
        <label>Mon prénom est:@Model.prenom<br /></label>
        <label>Mon age est:@Model.age<br /></label> 
    </div>
</body>
</html>
